.uploader-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.preview-box img {
    width: 200px;
    margin-top: 10px;
    border-radius: 6px;
}
